<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="MainWin_Title" value="My generation"/>
		<add key="MainWin_MinWidth" value="800"/>
		<add key="MainWin_MinHeight" value="800"/>
		<add key="BaseURI" value="http://localhost:6161/"/>
		<add key="AssemblyName" value="D:\HFR\genmodel\BGenModel\bin\Debug\netstandard2.0\BGenModel.dll"/>
		<add key="ProjectFolder" value="D:\izota"/>
		<add key="APIProjectName" value="BAPI"/>
		<add key="MobileProjectName" value="iZOTA_app"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
